* {
    margin: 0;
    padding: 0;
  }

header {
    background-color: #81f18ad7;
    height: 70px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    /* opacity: .4; */
  }
  
  .nav > a {
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    justify-content: space-between;
    margin: 0 20px;
  }

  .logo > a {
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    justify-content: space-between;
    margin: 0 20px;
    margin-right: 1000px;
  }

body {
    background-image: url(/img/glav.jpg);
    background-position: center;
}

main {
    display: flex;
    flex-direction: row;
  }
  
  .info {
    height: 60%;
    width: 35%;
    margin-top: 10%;
    /* margin-left: 100px; */
    background-color: #81f18ad7;
    
  }
  
  .info > p {
    font-size: 35px;
    color: #fff;
    margin-left: 100px;
    
  }




  
  .info2 {
    height: 50%;
    width: 35%;
    margin-top: 10%;
    margin-left: 100px;
    background-color: #81f18ad7;
  }
  
  .info2 > p {
    font-size: 35px;
    color: #ffffff;
  }
  
  .info3 {
    height: 50%;
    width: 35%;
    margin-top: 25%;
    margin-left: 450px;
    background-color: #81f18ad7;
  }
  
  .info3 > p {
    font-size: 35px;
    color: #ffffff;
  }


